{% extends 'base.html' %}

{% block content %}
    <title>Contact Us</title>
    <center>
    <h2>Contact Us</h2><hr>
</center>
    <div class="container">
    <h3 class="alert-info rounded" style="padding-top: 10px; padding-left: 10px; padding-bottom: 10px">Our Contact:</h3>
        <div>
    <b>Koushik Mallik</b><br>
            koushikmallik001@gmail.com<br>
            +91 9635270177<br>
    Electronics & Communication Engineering Department,<br>
        Final Year,<br>
        Asansol Engineering College
    </div>
        <br>
    <div>
        <b>Aritra Mukherjee</b><br>
        aritraagent47@gmail.com<br>
        +91 7001291866<br>
    Electronics & Communication Engineering Department,<br>
        Final Year,<br>
        Asansol Engineering College
    </div>
    </div>
<br><br><br><br><br><br>
{% endblock content %}