{% extends 'base.html' %}
{% load static %}
{% block content %}

    <title>Home</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    <style>
        .fixed{
        background-image: url('/static/images/apple.png');
        z-index: -1;
        height: 800px;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    }
  .jumbotron
        {
        background: url("{% static 'images/c.png' %}");
        z-index: -1;
        height: 100%;
        color: white;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
        padding: 7rem 2rem;
  }
    </style>
<div class="landing padding">
	<div class="home-wrap">
		<div class="home-inner">
			<img src="{% static 'images/computers.png'%}">
		</div>
	</div>
</div>
<div class="caption text-center">
	<h1>Welcome To TechOmato</h1>
	<h3>the final stop of e-learning</h3>
	<a class="btn btn-outline-light btn-lg" href="/dashboard/">Get Started</a>
</div>
<center>
<div class="container-fluid w-100">
	<div class="row">
		<div class="col-md-4"style="padding-bottom: 2rem;">
			<div class="card text-white bg-primary">
  				<div class="card-body">
    					<h4 class="card-text">Online Code Compiler Available</h4>
                    <br>
                    <a class="btn btn-outline-light btn-lg" href="/compiler/">Code Now</a>
  				</div>
			</div>
		</div>
		<div class="col-md-4"style="padding-bottom: 2rem;">
			<div class="card text-white bg-success" >
  				<div class="card-body">
    					<h4 class="card-text">Free Courses Available</h4>
                    <br>
                    <a class="btn btn-outline-light btn-lg" href="/courses/">Apply Now</a>
  				</div>
			</div>
		</div>
		<div class="col-md-4"style="padding-bottom: 2rem;">
			<div class="card text-white bg-danger" >
  				<div class="card-body">
    					<h4 class="card-text">Coding Competitions Available</h4>
                    <br>
                    <a class="btn btn-outline-light btn-lg" href="/compreview/">Apply Now</a>
  				</div>
			</div>
		</div>
	</div>
</div>

<div class="jumbotron2 card bg-dark" style="margin-bottom: 100px">
  <img src="{% static "images/combg2.png" %}" class="card-img" alt="...">
  <div class="card-img-overlay">
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <h1 class="card-title text-white"><b>TECHOMATO CODE COMPILER</b></h1><br><br><br>
    <p class="card-text bg-dark text-light rounded" style="font-family: 'Arial'; font-size: 25px">A platform to compile and test your codes easily. We offer a lot of language integration with Techomato Compiler to make your work much more easy. Join our community and explore more. </p>
      <a class="btn btn-lg btn-light rounded" href="/compiler/">Compile & Run</a>
  </div>
</div>
</center>
<center>
<div id="features" class="offset w-100">
	<div class="jumbotron bg-secondary h-100 w-100 fixed-background">
		<div class="narrow" style="padding-top: 1rem;">
			<div class="col-12 text-center">
                <h3 class="display-4">Why TechOmato?</h3>
                <br><br>
			</div>
			<div class="row text-center">
				<div class="col-md-4" style="padding-bottom: 2rem;">
					<div class="feature">
						<i class="fas fa-play-circle
						fa-4x" data-fa-transform="shrink-3 up-5"></i>
						<h3>Best Materials</h3>
{#						<p>xxxxxxxxxxxxxxx</p>#}
					</div>
				</div>
				<div class="col-md-4"style="padding-bottom: 2rem;">
					<div class="feature">
						<i class="fas fa-sliders-h
						fa-4x" data-fa-transform="shrink-4.5 up-4.5"></i>
						<h3>Easy to Understand</h3>
{#						<p>xxxxxxxxxxxxxxx</p>#}
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature">
						<i class="fab fa-wpforms
						fa-4x" data-fa-transform="shrink-4 up-5"></i>
						<h3>Practical Examples</h3>
{#						<p>xxxxxxxxxxxxxxx</p>#}
					</div>
				</div>
			</div>
            <div class="row text-center">
				<div class="col-md-4" style="padding-bottom: 2rem;">
					<div class="feature">
						<i class="fas fa-server
						fa-4x" data-fa-transform="shrink-3 up-5"></i>
						<h3>Weekly Tests</h3>
{#						<p>xxxxxxxxxxxxxxx</p>#}
					</div>
				</div>
				<div class="col-md-4"style="padding-bottom: 2rem;">
					<div class="feature">
						<i class="fas fa-keyboard
						fa-5x" data-fa-transform="shrink-4.5 up-4.5"></i>
						<h3>Coding Competition</h3>
{#						<p>xxxxxxxxxxxxxxx</p>#}
					</div>
				</div>
				<div class="col-md-4">
					<div class="feature">
						<i class="fab fa-file
						fa-4x" data-fa-transform="shrink-4 up-5"></i>
						<h3>Questions & Answers Forum</h3>
{#						<p>xxxxxxxxxxxxxxx</p>#}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</center>
<!--why techomato2 end-->



<center>
<div class="container-fluid padding padding2">
	<div class="welcome text-center">
		<div class=col-12>
			<h1 class="display-4">Courses</h1>
		</div>
		<hr>
	</div>
</div>
<div class="container-fluid padding">
	<div class="row padding">
        {% for x in courses %}
		<div class="col-md-4" style="padding-bottom: 2rem;">
			<div class="card card-size" style="width: 18rem">
				<img class="card-img-top" src="{{ x.image.url }}">
				<div class="card-body">
					<h4 class="card-title">{{ x.courseName }}</h4>
					<p class="card-text">{{ x.courseDescription }}</p>
					<a href="/subject/{{x.courseID}}/" class="btn btn-outline-primary">Apply Now</a>
				</div>
			</div>
		</div>
        {% endfor %}
		<div class="col-12">
			<a href="/courses/" class="btn btn-outline-info btn-lg">View More</a>
		</div>

	</div>
</div>
</center>
	<!--Latest Courses-->
	<center>
<div id="resouces">
	<div class="fixed-background ">

		<div class="fixed-wrap">
			<div class="fixed">
				<div class="row dark text-center ">

			<div class="col-12">

				<h3 class="heading display-4">Latest Courses</h3>
				<hr class="heading-underline">
			</div>
{% for x in newcourses %}
			<div class="col-md-6">
				<h3>{{ x.courseName }}</h3>
				<div><i class="fas fa-5x"></i></div>
				<p class="lead">{{ x.courseDescription }}</p>
				<a class="btn btn-outline-light btn-lg" href="/subject/{{x.courseID}}/">Apply now</a>
			</div>
                    {% endfor %}
		</div>
			</div>
		</div>

			</div>
	</div>

</center>
<!--latest courses end-->

</center>
</div>
</div>
</div>

{% endblock content %}
