{% extends 'base.html' %}


{% block content %}
    <title>Submitted Successfully</title>

<body><center>
<div class="container" style="padding-top: 100px">
        <div class="alert alert-success" style="font-size: 20px" role="alert">
        Your answers have been submitted successfully.
</div>
    <a class="btn btn-info" href="/feedback/">Give Feedback</a>
    <a class="btn btn-success" href="/dashboard/">Go to Dashboard</a>
<br><br><br><br><br><br><br>
</div>
</center>
</body>
{% endblock content %}